<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="icon" type="image/png" href="img/icon.png">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>

<body ng-app="myBlog" ng-controller="BlogController">
    <header>
        <div class="container">
            <div class="row">
                <div class="page-header">
                    <h1>Jessie Kartman's BLOG</h1>
                    <div class="col-md-4 col-md-offset-3">
                        <form class="search-form">
                            <div class="has-feedback">
                                <input type="text" class="form-control" name="search" id="search" placeholder="search" ng-model="search">
                                <span class="glyphicon glyphicon-search form-control-feedback"></span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Add article </button>
            <div class="collapse" id="collapseExample">
                <form ng-submit="save()" name="newArticleForm">
                    <div class="form-group">
                        <label>Title:</label>
                        <input type="text" name="title" ng-model="title" class="form-control" placeholder="Enter title of article" required>
                        <div ng-messages="newArticleForm.title.$error">
                            <div ng-message="required">This field is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Text:</label>
                        <textarea type="text" name="article" ng-model="message" class="form-control enter-message" placeholder="Enter text" required>
                        </textarea>
                        <div ng-messages="newArticleForm.article.$error">
                            <div ng-message="required">This field is required</div>
                        </div>
                    </div>
                    <input class="btn btn-default" type="submit" value="Send">
                </form>
            </div>
            <div class="row col-lg-12">
                <div ng-repeat="message in arrayMessages | filter: search">
                 <div class="article-title">
                      <div>
                           <h2 class="title">{{message.title}}</h2>
                           <div class="time">{{message.date | date:'MMM dd yyyy'}}</div>
                       </div>
                       <span class="glyphicon glyphicon-pencil" ng-click="disabled = !disabled"></span>
                   </div>
                   <textarea class="form-control article" ng-model="message.message" ng-disabled="disabled" ng-blur="editMessage()" ng-class="{'hide-message': !autoScroll, 'show-message': autoScroll}"></textarea>
                   <div ng-click="autoScroll = !autoScroll">
                       <span ng-if="!autoScroll" class="clicked-element">show more</span>
                       <span ng-if="autoScroll" class="clicked-element">show less</span>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="js/service.js"></script>
    <script src="js/main.js"></script>
</body>

</html>